/*使用border,保留两边,构成直角三角形,然后整个盒子向右浮动(两个以上的盒子应该向左浮动)，
 * 盒子内部一个正常的盒子外加构成3D效果的6个div*/	
	
	
	*{
				margin: 0;
				padding: 0;
			}
			.topTriangle_normal{
				width: 0px;
				height: 0px;
				display: inline-block;
				/*宽度和高度设置成0px*/
				border-left:100px solid transparent;
				/*设置下边框 transparent透明*/
				border-right:100px solid transparent;
				/*设置右边框*/
				border-top:50px solid #FFF444;
				/*设置上边框 transparent透明*/
				float: left;
				}
			.topTriangle_2{
				width: 0px;
				height: 0px;
				display: inline-block;
				/*宽度和高度设置成0px*/
				border-left:100px solid transparent;
				/*设置下边框 transparent透明*/
				border-right:100px solid transparent;
				/*设置右边框*/
				border-bottom:50px solid #FFF444;
				position: absolute;
				left: 100px;
				/*设置上边框 transparent透明*/
				}
			.topTriangle_1{
				width: 0px;
				height: 0px;
				display: inline-block;
				/*宽度和高度设置成0px*/
				border-left:100px solid transparent;
				/*设置下边框 transparent透明*/
				border-right:100px solid transparent;
				/*设置右边框*/
				border-bottom:50px solid #FFF444;
				position: absolute;
				left: 300px;
				/*设置上边框 transparent透明*/
				}
			.leftTriangle_top{
				width: 0px;
				height: 0px;
				display: inline-block;
				/*宽度和高度设置成0px*/
				border-left:100px solid #AA66CC;
				/*设置下边框 transparent透明*/
				/*border-right:10px solid transparent;*/
				/*设置右边框*/
				border-top:50px solid transparent;
				/*设置上边框 transparent透明*/
				/*float: left;*/
				position: absolute;
				}
			.leftTriangle_bottom{
				width: 0px;
				height: 0px;
				display: inline-block;
				/*宽度和高度设置成0px*/
				border-right:100px solid #AA66CC;
				/*设置下边框 transparent透明*/
				/*border-right:10px solid transparent;*/
				/*设置右边框*/
				border-bottom:50px solid transparent;
				/*设置上边框 transparent透明*/
				/*float: left;*/
				position: absolute;
				top: 550px;
				}
			.leftRectangle{
				position:absolute;
				left: 0;
				top: 50px;
				background-color: #AA66CC;
				width: 100px;
				height: 500px;
			}
			.pAbusolute{
				position: relative;
			
			}
			#container{
				float: right;
				width: 700px;
			}
			#main{
				position: absolute;
				top: 50px;
				left: 100px;
				border: 1px solid lightblue;
			}
			h5{
			/*float: left;*/
			font-size: 14px;
    		color: #666;
    		font-weight: bold;
    		text-align: center;
    		color: #007AFF;}
    		
    		h3{
    			text-align: center;
    			color: #FF9333;
    		}