			*{
				margin: 0;
				padding: 0;
			}
			.lunbo {
			
				margin: 0 auto;
				position: relative;
			}
			
			.lunbo>span {
				width: 41px;
				height: 69px;
				font-size: 20px;
				position: absolute;
				text-align: center;
				line-height: 41px;
				top: 50%;
				margin-top: -35px;
				border-radius: 5px;
			}
			
			.lunbo>span:hover {
				/*background-image: white;*/
				background-color: #757575;
			}
			
			.prev {
				left: 50px;
				background: url(//c1.mifile.cn/f/i/2014/cn/icon/icon-slides.png) no-repeat -84px 50%;
				;
			}
			
			.next {
				right: 50px;
				background: url(//c1.mifile.cn/f/i/2014/cn/icon/icon-slides.png) no-repeat -125px 50%;
				;
			}
			
			#buttons {
				width: 100px;
				height: 10px;
				position: absolute;
				bottom: 20px;
				right: 40px;
			}
			
			#buttons>span {
				float: left;
				width: 8px;
				height: 8px;
				margin: 0 4px;
				border-radius: 50%;
				/*border: 1px solid #FFFFFF;*/
				margin-left: 5px;
				background-color: white;
			}
			#buttons>span:hover {
				background-color: slategray;	
			}
			
			.on {
				background-color: gray !important;
			}