            body {
                margin: 0;
                padding: 0;
                background: #F5F5F5;
            }
            header {
                width: 100%;
                background: #fff;
            }
            
            .topbar {
                width: 100%;
                height: 40px;
                background: #333;
            }
            
            .topbar-c {
                width: 1226px;
                height: 100%;
                background: #333;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
            }
            
            .topbar-nav {
                height: 100%;
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                align-items: center;
            }
            
            .topbar-nav li {
                height: 12px;
                font-size: 12px;
                padding: 0 7px;
                line-height: 100%;
                border-right: 1px solid #555;
            }
            
            .topbar-nav li:first-child {
                padding-left: 0;
            }
            
            .topbar-nav li:last-child {
                border: none;
            }
            
            .topbar-nav li a {
                color: #aaa;
                text-decoration: none;
            }
            
            .topbar-nav li a:hover {
                color: #fff;
            }
            
            .topbar-login {
                height: 100%;
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                align-items: center;
            }
            
            .topbar-login li {
                height: 12px;
                font-size: 12px;
                padding: 0 7px;
                line-height: 100%;
            }
            
            .topbar-login li a {
                color: #aaa;
                text-decoration: none;
            }
            
            .topbar-login li a:hover {
                color: #fff;
            }
            
            .topbar-login li:first-child {
                border-right: 1px solid #555;
            }
            
            .topbar-login li:last-child {
                padding-right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .topbar-login li:last-child a {
                background: #444;
                display: inline-block;
                padding: 14px 20px;
            }
            
            .topbar-login li:last-child a:hover {
                background: #fff;
                color: darkorange;
            }
            
            
            
            
            
            
            .head-c {
                width: 1226px;
                margin: 0 auto;
                background: #fff;
            }
            
            .head-nav {
                width: 100%;
                height: 100px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            .logo {
                width: 236px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            .logo img {
                height: 100%;
                cursor: pointer;
            }
            
            
            .head-nav nav ul {
                width: 100%;
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
            }
            
            .head-nav nav ul li {
                margin: 0 25px 0 0;
            }
            
            .head-nav nav ul li a {
                padding: 40px 0;
                color: #333;
                text-decoration: none;
            }
            
            .head-nav nav ul li a:hover {
                color: #FF6700;
            }
            
            form {
                width: 298px;
                height: 50px;
                border: 1px solid #ccc;
                transition: 0.3s;
                display: flex;
                align-items: center;
            }
            
            form:hover {
                border: 1px solid darkorange;
            }
            
            form:hover input:last-child {
                border-left: 1px solid darkorange;
            }
            
            form input:first-child {
                width: 248px;
                height: 100%;
                border: none;
                font-size: 16px;
            }
            
            form input:last-child {
                width: 50px;
                height: 100%;
                border: none;
                border-left: 1px solid #ddd;
                background: #fff;
                font-size: 16px;
                transition: 0.3s;
            }
            
            
            
            
            
            
            .head-banner {
                width: 100%;
                height: 460px;
                position: relative;
            }
            
            .head-banner img {
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
            
            .head-banner .nav-right {
                width: 236px;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
            }
            
            .head-banner .nav-right>ul {
                width: 236px;
                height: 92%;
                margin: 0;
                padding: 0;
                list-style: none;
            }
            
            .head-banner .nav-right>ul>li {
                width: 100%;
                height: 40px;
                font-size: 14px;
                color: #ccc;
                margin-top: 2px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                transition: 1s;
            }
            
            .head-banner .nav-right>ul>li:hover {
                background: #FF6700;
                transition: 0.1s;
            }
            
            .head-banner .nav-right>ul>li>a {
                color: #fff;
                text-decoration: none;
                margin-left: 30px;
            }
            
            .head-banner .nav-right>ul>li>span {
                margin-right: 20px;
            }
            
        .carousel-indicators {
            bottom: 0px;
            right: 0px;
            width: auto;
        }
        
        .carousel-control {
            width: 5%;
            left: 236px;
            opacity: 0.3;
            transition: 0.3s;
            text-shadow: 0 0 0px #999;
        }
        
        .carousel-control:hover {
            opacity: 1;
        }
        
        .carousel-indicators li {
            border-radius: 0px;
            width: 15px;
            height: 15px;
            margin: 0 5px;
            border: 0px solid #000;
            background: rgba(0, 0, 0, 0.3)
        }
        
        .carousel-indicators .active {
            width: 16px;
            height: 16px;
            opacity: 0.7;
        }
            
            
            
            
            
            .head-tj {
                width: 100%;
                height: 198px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            .head-tj>img {
                width: 316px;
                height: 170px;
                cursor: pointer;
            }
            
            .head-tj div {
                width: 236px;
                height: 170px;
                background: #5F5750;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
            }
            
            .head-tj div figure {
                width: 75px;
                height: 80px;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                cursor: pointer;
            }
            
            .head-tj div figure:nth-child(1) {
                border-bottom: 1px solid #666;
                border-right: 1px solid #666;
            }
            
            .head-tj div figure:nth-child(2) {
                border-bottom: 1px solid #666;
                border-right: 1px solid #666;
            }
            
            .head-tj div figure:nth-child(3) {
                border-bottom: 1px solid #666;
            }
            
            .head-tj div figure:nth-child(4) {
                border-right: 1px solid #666;
            }
            
            .head-tj div figure:nth-child(5) {
                border-right: 1px solid #666;
            }
            
            
            
            .head-tj div figure:hover figcaption {
                color: #fff;
            }
            
            .head-tj div figure figcaption {
                font-size: 12px;
                color: #ccc;
                transition: 0.3s;
                margin-bottom: 20px;
            }
            
            
            
            
            .head-mxdp {
                width: 100%;
                height: 460px;
            }
            
            .mxdp-top {
                width: 100%;
                height: 80px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            .mxdp-top>span {
                font-size: 22px;
                color: #000;
            }
            
            .mxdp-top>div {
                width: 80px;
                height: 22px;
                border: 1px solid #ddd;
                display: flex;
            }
            
            .mxdp-top div span {
                width: 50%;
                font-size: 18px;
                text-align: center;
                line-height: 110%;
                cursor: pointer;
                color: #999;
            }
            
            .mxdp-top div span:first-child {
                border-right: 1px solid #ddd;
            }
            
            .mxdp-top div span:hover {
                color: #ff6700;
            }
            
            .mxdp-list {
                width: 100%;
                height: 340px;
                display: flex;
                justify-content: space-between;
            }
            
            .mxdp-list figure {
                width: 234px;
                height: 340px;
                margin: 0;
                padding: 0;
                border-top: 1px solid orange;
                background: #f9f9f9;
                text-align: center;
            }
            
            .mxdp-list figure:nth-child(2) {
                border-top: 1px solid green;
            }
            
            .mxdp-list figure:nth-child(3) {
                border-top: 1px solid blue;
            }
            
            .mxdp-list figure:nth-child(4) {
                border-top: 1px solid #999;
            }
            
            .mxdp-list figure:nth-child(5) {
                border-top: 1px solid red;
            }
            
            .mxdp-list figure img {
                width: 160px;
                margin-top: 40px;
                cursor: pointer;
            }
            
            .mxdp-list figure figcaption:nth-of-type(1) {
                font-size: 14px;
                cursor: pointer;
                margin-top: 30px;
            }
            
            .mxdp-list figure figcaption:nth-of-type(2) {
                font-size: 12px;
                color: #aaa;
                margin: 7px;
            }
            
            .mxdp-list figure figcaption:nth-of-type(3) {
                font-size: 14px;
                color: #ff6700;
                margin: 15px;
            }