main {
            width: 1226px;
            margin: 0 auto;
        }
        
        .znyj-bg {
            width: 100%;
        }
        
        .znyj-top {
            width: 100%;
            height: 60px;
            margin-top: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .znyj-top span:first-child {
            font-size: 22px;
            color: #333;
        }
        
        .znyj-top span:last-child {
            font-size: 14px;
            color: #555;
            transition: 0.3s;
            cursor: pointer;
        }
        
        .znyj-top span:last-child:hover {
            color: #ff6700;
        }
        
        .znyj-list-bg {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        
        .znyj-list-bg>img {
            width: 234px;
            height: 100%;
            cursor: pointer;
            transition: 0.3s;
        }
        
        .znyj-list-bg>img:hover {
            box-shadow: 0 0 10px #ccc;
            margin-top: -5px;
        }
        
        .znyj-list {
            width: 978px;
            height: 618px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-between;
        }
        
        .znyj-list figure {
            width: 234px;
            height: 302px;
            background: #fff;
            text-align: center;
            margin: 0;
            padding: 0;
            transition: 0.3s;
        }
        
        .znyj-list figure:hover {
            box-shadow: 0 0 20px #aaa;
            margin-top: -5px;
        }
        
        .znyj-list figure div {
            width: 66px;
            height: 24px;
            color: #fff;
            font-size: 12px;
            margin: 0 auto;
            line-height: 190%;
        }
        
        .znyj-list figure:nth-of-type(2) div {
            background: #FFAC13;
        }
        
        .znyj-list figure:nth-of-type(3) div {
            background: #E53935;
        }
        
        .znyj-list figure:nth-of-type(6) div {
            background: #E53935;
        }
        
        .znyj-list figure:nth-of-type(8) div {
            background: #83C44E;
        }
        
        .znyj-list figure img {
            width: 160px;
            cursor: pointer;
        }
        
        .znyj-list figure figcaption:nth-of-type(1) {
            font-size: 14px;
            cursor: pointer;
            margin-top: 10px;
        }
        
        .znyj-list figure figcaption:nth-of-type(2) {
            font-size: 12px;
            color: #aaa;
            margin-top: 7px;
        }
        
        .znyj-list figure figcaption:nth-of-type(3) {
            font-size: 14px;
            color: #ff6700;
            margin-top: 15px;
        }
        
        .dapei-bg {
            width: 100%;
            height: 678px;
            margin-top: 50px;
        }
        
        .dapei-top {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .dapei-top span {
            font-size: 22px;
            color: #333;
        }
        
        .dapei-top ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
        }
        
        .dapei-top ul li {
            margin-left: 30px;
        }
        
        .dapei-top ul li a {
            color: #333;
            text-decoration: none;
            transition: 0.3s;
        }
        
        .dapei-top ul li a:hover {
            color: #ff6700;
            border-bottom: 3px solid #ff6700
        }
        
        .dapei-list {
            width: 100%;
            height: 614px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-between;
        }
        
        .dapei-list figure {
            width: 234px;
            height: 300px;
            margin: 0;
            padding: 0;
            text-align: center;
            background: #fff;
            transition: 0.3s;
        }
        
        .dapei-list figure:hover {
            margin-top: -5px;
            box-shadow: 0 0 20px #aaa;
        }
        
        .dapei-list figure:last-child:hover {
            margin-top: 0px;
            box-shadow: 0 0 0px #aaa;
        }
        
        .dapei-list figure>.zhekou {
            width: 66px;
            height: 24px;
            color: #fff;
            font-size: 12px;
            margin: 0 auto;
            line-height: 190%;
        }
        
        .dapei-list figure:nth-child(2) div {
            background: red;
        }
        
        .dapei-list figure:nth-child(9) div {
            background: red;
        }
        
        .dapei-list img {
            cursor: pointer;
        }
        
        .dapei-list .img {
            margin-top: 10px;
        }
        
        .dapei-list figure figcaption:nth-of-type(1) {
            font-size: 14px;
            color: #333;
            cursor: pointer;
            margin-top: 12px;
        }
        
        .dapei-list figure figcaption:nth-of-type(2) {
            font-size: 14px;
            color: #ff6700;
            margin-top: 5px;
        }
        
        .dapei-list figure figcaption:nth-of-type(3) {
            font-size: 12px;
            color: #aaa;
            margin-top: 12px;
        }
        
        .dapei-list figure:last-child {
            background: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        .dapei-list10 {
            width: 100%;
            height: 143px;
            background: #fff;
            display: flex;
            align-items: center;
            transition: 0.3s;
        }
        
        .dapei-list10:hover {
            box-shadow: 0 0 10px #aaa;
            margin-top: -5px;
        }
        
        .dapei-list10 div {
            height: 80px;
            text-align: left;
            margin: 0 25px 0 30px;
        }
        
        .dapei-more {
            width: 100%;
            height: 143px;
            background: #fff;
            transition: 0.3s;
            display: flex;
            align-items: center;
        }
        
        .dapei-more:hover {
            box-shadow: 0 0 10px #aaa;
        }
        
        .dapei-more div {
            height: 46px;
            text-align: left;
            margin: 0 40px 0 30px;
            cursor: pointer;
        }
        
        .dapei-more div figcaption:nth-child(1) {
            margin: 0px;
            font-size: 18px;
        }
        
        .dapei-more div figcaption:nth-child(2) {
            margin-top: 5px;
            font-size: 12px;
            color: #999;
        }
        
        .peijian-bg {
            width: 100%;
            height: 678px;
            margin-top: 50px;
        }
        
        .peijian-top {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .peijian-top span {
            font-size: 22px;
            color: #333;
        }
        
        .peijian-top ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
        }
        
        .peijian-top ul li {
            margin-left: 30px;
        }
        
        .peijian-top ul li a {
            color: #333;
            text-decoration: none;
            transition: 0.3s;
        }
        
        .peijian-top ul li a:hover {
            color: #ff6700;
            border-bottom: 3px solid #ff6700
        }
        
        .peijian-list {
            width: 100%;
            height: 614px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-between;
        }
        
        .peijian-list figure {
            width: 234px;
            height: 300px;
            margin: 0;
            padding: 0;
            text-align: center;
            background: #fff;
            transition: 0.3s;
        }
        
        .peijian-list figure:hover {
            margin-top: -5px;
            box-shadow: 0 0 20px #aaa;
        }
        
        .peijian-list figure:last-child:hover {
            margin-top: 0px;
            box-shadow: 0 0 0px #aaa;
        }
        
        .peijian-list figure>.zhekou {
            width: 66px;
            height: 24px;
            color: #fff;
            font-size: 12px;
            margin: 0 auto;
            line-height: 190%;
        }
        
        .peijian-list figure:nth-child(3) div {
            background: #83C44E;
        }
        
        .peijian-list figure:nth-child(7) div {
            background: red;
        }
        
        .peijian-list figure:nth-child(8) div {
            background: #83C44E;
        }
        
        .peijian-list img {
            cursor: pointer;
        }
        
        .peijian-list .img {
            margin-top: 10px;
            width: 150px;
        }
        
        .peijian-list figure figcaption:nth-of-type(1) {
            font-size: 14px;
            color: #333;
            cursor: pointer;
            margin-top: 12px;
        }
        
        .peijian-list figure figcaption:nth-of-type(2) {
            font-size: 14px;
            color: #ff6700;
            margin-top: 5px;
        }
        
        .peijian-list figure figcaption:nth-of-type(3) {
            font-size: 12px;
            color: #aaa;
            margin-top: 12px;
        }
        
        .peijian-list figure:last-child {
            background: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        .peijian-list10 {
            width: 100%;
            height: 143px;
            background: #fff;
            display: flex;
            align-items: center;
            transition: 0.3s;
        }
        
        .peijian-list10:hover {
            box-shadow: 0 0 10px #aaa;
            margin-top: -5px;
        }
        
        .peijian-list10 div {
            height: 80px;
            text-align: left;
            margin: 0 25px 0 30px;
        }
        
        .peijian-more {
            width: 100%;
            height: 143px;
            background: #fff;
            transition: 0.3s;
            display: flex;
            align-items: center;
        }
        
        .peijian-more:hover {
            box-shadow: 0 0 10px #aaa;
        }
        
        .peijian-more div {
            height: 46px;
            text-align: left;
            margin: 0 40px 0 30px;
            cursor: pointer;
        }
        
        .peijian-more div figcaption:nth-child(1) {
            margin: 0px;
            font-size: 18px;
        }
        
        .peijian-more div figcaption:nth-child(2) {
            margin-top: 5px;
            font-size: 12px;
            color: #999;
        }
        
        .zhoubian-bg {
            width: 100%;
            height: 678px;
            margin-top: 50px;
        }
        
        .zhoubian-top {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .zhoubian-top span {
            font-size: 22px;
            color: #333;
        }
        
        .zhoubian-top ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
        }
        
        .zhoubian-top ul li {
            margin-left: 30px;
        }
        
        .zhoubian-top ul li a {
            color: #333;
            text-decoration: none;
            transition: 0.3s;
        }
        
        .zhoubian-top ul li a:hover {
            color: #ff6700;
            border-bottom: 3px solid #ff6700
        }
        
        .zhoubian-list {
            width: 100%;
            height: 614px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-between;
        }
        
        .zhoubian-list figure {
            width: 234px;
            height: 300px;
            margin: 0;
            padding: 0;
            text-align: center;
            background: #fff;
            transition: 0.3s;
        }
        
        .zhoubian-list figure:hover {
            margin-top: -5px;
            box-shadow: 0 0 20px #aaa;
        }
        
        .zhoubian-list figure:last-child:hover {
            margin-top: 0px;
            box-shadow: 0 0 0px #aaa;
        }
        
        .zhoubian-list figure>.zhekou {
            width: 66px;
            height: 24px;
            color: #fff;
            font-size: 12px;
            margin: 0 auto;
            line-height: 190%;
        }
        
        .zhoubian-list figure:nth-child(2) div {
            background: #FFAC13;
        }
        
        .zhoubian-list figure:nth-child(3) div {
            background: #FFAC13;
        }
        
        .zhoubian-list figure:nth-child(4) div {
            background: #FFAC13;
        }
        
        .zhoubian-list figure:nth-child(5) div {
            background: #FFAC13;
        }
        
        .zhoubian-list figure:nth-child(8) div {
            background: red;
        }
        
        .zhoubian-list figure:nth-child(9) div {
            background: #83C44E;
        }
        
        .zhoubian-list img {
            cursor: pointer;
        }
        
        .zhoubian-list .img {
            margin-top: 10px;
            width: 150px;
        }
        
        .zhoubian-list figure figcaption:nth-of-type(1) {
            font-size: 14px;
            color: #333;
            cursor: pointer;
            margin-top: 12px;
        }
        
        .zhoubian-list figure figcaption:nth-of-type(2) {
            font-size: 14px;
            color: #ff6700;
            margin-top: 5px;
        }
        
        .zhoubian-list figure figcaption:nth-of-type(3) {
            font-size: 12px;
            color: #aaa;
            margin-top: 12px;
        }
        
        .zhoubian-list figure:last-child {
            background: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        .zhoubian-list10 {
            width: 100%;
            height: 143px;
            background: #fff;
            display: flex;
            align-items: center;
            transition: 0.3s;
        }
        
        .zhoubian-list10:hover {
            box-shadow: 0 0 10px #aaa;
            margin-top: -5px;
        }
        
        .zhoubian-list10 div {
            height: 80px;
            text-align: left;
            margin: 0 25px 0 30px;
        }
        
        .zhoubian-list10 img {
            width: 80px;
        }
        
        .zhoubian-more {
            width: 100%;
            height: 143px;
            background: #fff;
            transition: 0.3s;
            display: flex;
            align-items: center;
        }
        
        .zhoubian-more:hover {
            box-shadow: 0 0 10px #aaa;
        }
        
        .zhoubian-more div {
            height: 46px;
            text-align: left;
            margin: 0 40px 0 30px;
            cursor: pointer;
        }
        
        .zhoubian-more div figcaption:nth-child(1) {
            margin: 0px;
            font-size: 18px;
        }
        
        .zhoubian-more div figcaption:nth-child(2) {
            margin-top: 5px;
            font-size: 12px;
            color: #999;
        }
        
        .wntj-bg {
            width: 100%;
            height: 360px;
            margin-top: 50px;
        }
        
        .wntj-top {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .wntj-top span {
            font-size: 22px;
            color: #333;
        }
        
        .wntj-top div {
            width: 80px;
            height: 20px;
            border: 1px solid #ccc;
            display: flex;
            align-items: center;
        }
        
        .wntj-top div span {
            width: 50%;
            height: 100%;
            color: #aaa;
            text-align: center;
            transition: 0.3s;
            cursor: pointer;
            line-height: 70%;
        }
        
        .wntj-top div span:hover {
            color: #ff6700;
        }
        
        .wntj-top div span:first-child {
            border-right: 1px solid #ccc;
        }
        
        .wntj-list {
            width: 100%;
            height: 300px;
            display: flex;
            justify-content: space-between;
        }
        
        .wntj-list figure {
            width: 234px;
            height: 300px;
            margin: 0;
            padding: 0;
            text-align: center;
            background: #fff;
            transition: 0.3s;
        }
        
        .wntj-list figure:hover {
            margin-top: -5px;
            box-shadow: 0 0 10px #ddd;
        }
        
        .wntj-list figure img {
            width: 140px;
            margin-top: 40px;
            cursor: pointer;
        }
        
        .wntj-list figure figcaption:nth-of-type(1) {
            font-size: 14px;
            color: #333;
            margin-top: 15px;
            cursor: pointer;
        }
        
        .wntj-list figure figcaption:nth-of-type(2) {
            font-size: 14px;
            color: #ff6700;
            margin-top: 10px;
        }
        
        .wntj-list figure figcaption:nth-of-type(3) {
            font-size: 13px;
            color: #999;
            margin-top: 10px;
        }
        
        .rpcp-bg {
            width: 100%;
            height: 475px;
            margin-top: 50px;
        }
        
        .rpcp-top {
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            font-size: 22px;
            color: #333;
        }
        
        .rpcp-list {
            width: 100%;
            height: 415px;
            display: flex;
            justify-content: space-between;
        }
        
        .rpcp-list figure {
            width: 296px;
            height: 415px;
            margin: 0;
            padding: 0;
            background: #fff;
            transition: 0.3s;
        }
        
        .rpcp-list figure:hover {
            margin-top: -5px;
            box-shadow: 0 0 10px #aaa;
        }
        
        .rpcp-list figure img {
            width: 296px;
            cursor: pointer;
        }
        
        .rpcp-list figure figcaption {
            font-size: 14px;
            color: #333;
            margin: 28px 28px 0 28px;
            cursor: pointer;
        }
        
        .rpcp-list figure aside {
            font-size: 12px;
            color: #999;
            margin: 28px 28px 0 28px;
        }
        
        .rpcp-list figure div {
            margin: 10px 28px 0 28px;
            display: flex;
            align-items: center;
        }
        
        .rpcp-list figure div span:nth-child(1) {
            font-size: 14px;
            color: #333;
            cursor: pointer;
            margin-right: 10px;
        }
        
        .rpcp-list figure div span:nth-child(2) {
            height: 15px;
            font-size: 14px;
            color: #ff6700;
            padding-left: 10px;
            border-left: 1px solid #ccc;
            display: inline-block;
            line-height: 100%;
        }
        
        .neirong-bg {
            width: 1226px;
            height: 480px;
            margin: 50px auto;
        }
        
        .neirong-top {
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            font-size: 22px;
            color: #333;
        }
        
        .neirong-list {
            width: 100%;
            height: 420px;
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: space-between;
        }
        
        .neirong-list>li {
            width: 296px;
            height: 420px;
            background: #fff;
            transition: 0.3s;
            text-align: center;
            position: relative;
        }
        
        .neirong-list>li:hover {
            margin-top: -5px;
            box-shadow: 0 0 10px #ccc;
        }
        
        .neirong-list>li:nth-child(1) {
            border-top: 1px solid #FFAC13;
        }
        
        .neirong-list>li:nth-child(2) {
            border-top: 1px solid #83C44E;
        }
        
        .neirong-list>li:nth-child(3) {
            border-top: 1px solid red;
        }
        
        .neirong-list>li:nth-child(4) {
            border-top: 1px solid #2196F3;
        }
        
        .neirong-list>li h4 {
            font-size: 16px;
            font-weight: normal;
            margin-top: 45px;
        }
        
        .neirong-list>li:nth-child(1) h4 {
            color: #FFAC13;
        }
        
        .neirong-list>li:nth-child(2) h4 {
            color: #83C44E;
        }
        
        .neirong-list>li:nth-child(3) h4 {
            color: red;
        }
        
        .neirong-list>li:nth-child(4) h4 {
            color: #2196F3;
        }
        
        .neirong-list>li h3 {
            font-weight: normal;
            margin: 0;
        }
        
        .neirong-list>li p {
            font-size: 12px;
            color: #aaa;
            margin: 8px 40px;
        }
        
        .neirong-list>li span {
            font-size: 14px;
            color: #333;
            margin-top: 20px;
            display: inline-block;
        }
        
        .neirong-list>li:nth-child(1) span {
            margin-top: 4px;
        }
        
        .neirong-list>li img {
            margin-top: 15px;
        }
        
        .neirong-list>li div {
            width: 100%;
            height: 48px;
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 150px;
            opacity: 0;
            transition: 0.7s;
        }
        
        .neirong-list>li:hover .nr-fy {
            opacity: 1;
        }
        
        .neirong-list>li div span:first-child {
            width: 29px;
            height: 48px;
            display: inline-block;
            background: url(image/icon-slides.png) -59px 0;
            background-size: auto 48px;
        }
        
        .neirong-list>li div span:first-child:hover {
            background: url(image/icon-slides.png) 0 0;
            background-size: auto 48px;
            cursor: pointer;
        }
        
        .neirong-list>li div span:last-child {
            width: 29px;
            height: 48px;
            display: inline-block;
            background: url(image/icon-slides.png) -85px 0;
            background-size: auto 48px;
        }
        
        .neirong-list>li div span:last-child:hover {
            background: url(image/icon-slides.png) -29px 0;
            background-size: auto 48px;
            cursor: pointer;
        }
        
        .nr-cir {
            height: 20px;
            margin: 15px 0 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .nr-cir li {
            width: 7px;
            height: 7px;
            border-radius: 60%;
            background: #999;
            margin: 0 15px;
            transition: 0.7s;
        }
        
        .nr-cir li:hover {
            background: #ff6700;
            cursor: pointer;
        }
        
        .nr-cir li:first-child {
            background: #fff;
            border: 2px solid #ff6700;
            cursor: pointer;
        }