*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
}
.rotationSidebar {
	width: 234px;
	height: 460px;
	position: absolute;
	left: 0;
	top: 0;
	/*border: 1px solid red;*/
	background-color:rgba(0,0,0,0.5);
	/*opacity: 0.7;*/
	font-size: 14px;
}
.rotationSidebar .left_ul{
	/*height: 460px;*/
	/*padding: 0px 0;*/
	color: #FFFFFF;
}
.rotationSidebar .left_ul>li{
	padding-left: 30px;
	/*height: 46px;*/
	line-height: 46px;
}
.rotationSidebar .left_ul>li>span{
	float: right;
	margin-right: 20px;
}
.rotationSidebar .left_ul>li:hover{
	background-color: #ff6700;
}
.rotationSidebar .right_img{
	position: absolute;
	top: 0;
	left: 234px;
	height: 460px;
	width: 876px;
	background-color: rgb(255,255,211,0);
	display: none;
}
.rotationSidebar #right_img4 .div1{
	width: 218px;
	/*为什么超过220px就不能显示了？？？*/
	border: 0;
}
.rotationSidebar #right_img4 .div1>ul>li{
	width: 218px;
}
.rotationSidebar #right_img4 .xuangou{
    display: none;
}
.rotationSidebar .div1{
	width: 265px;
	height:460px;
	/*border: 1px solid blue;*/
	float: left;
	display: inline-block;
	background-color: white;
	/*background-color: red;*/

}
.rotationSidebar .div1>ul>li,.div2>ul>li{
	width: 230px;
	padding: 18px 20px;
	padding-right: 0;
	height: 42px;
	line-height: 42px;
}
.rotationSidebar .div1>ul>li>a{
	display: inline-block;
	/*font-size: 16px;*/
	color: black;
}
.rotationSidebar .div1>ul>li>a,img{
	vertical-align: middle;
}
.rotationSidebar .xuangou{
	width: 60px;
	height: 24px;
	border: 1px solid #ff6700;
	color: #ff6700 !important;
	line-height: 24px;
	text-align: center;
	float: right;
	margin-top: 10px;
}
.rotationSidebar .xuangou:hover{
	background-color: #ff6700;
	color: #FFFFFF !important;
}
.rotationSidebar .a1{
	margin-left: 20px;
}
/*.rotationSidebar .right_img2{
	width: 292px;
	background-color: #FFFFFF;
	display: none;
}*/
